<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:replace="./fragments/header.html::fragment-header"></div>

</head>
<body>
<div th:replace="./fragments/nav.html :: fragment-nav"></div>
<div class="section">
    <h1>답변 디테일</h1>
    설문 제목 : <span th:text="${survey.title}">설문 제목</span> <br>
    설문 대상 : <th:block th:switch="${survey.target}">
        <span th:case="1">모든 이웃</span>
        <span th:case="2">비즈프로필 방문 이웃</span>
        <span th:case="3">단골</span>
    </th:block>
    <br><br>

    <div th:each="aggregate, index: ${aggregates}">

        <th:block th:switch="${aggregate.question.questionType}" >
            <div th:case="2">
                <span> 질문 타입 : 주관식</span> <br>
                질문 내용 : <span th:text="${aggregate.question.text}">질문 내용</span> <br>
                질문 대답 :  <span th:each="answer, index: ${aggregate.answer}">
                    </t> <span th:text="${answer.value}">답변</span>
                </span></br>


            </div>
            <div th:case="3">
                <span> 질문 타입 : 객관식</span> <br>
                질문 내용 : <span th:text="${aggregate.question.text}">질문 내용</span> <br>
                선택지 : <span th:each="choice, index: ${aggregate.question.choices}">
                    </t> <span th:text="${choice.value}">선택지 값</span> /
                </span> </br>
                질문 대답 : <span th:each="answer, index: ${aggregate.answer}">
                    </t> <span th:text="${answer.value}">답변</span>
                </span></br>
            </div>
            <br>
        </th:block>
    </div>
</div>
</body>
</html>