<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="./fragments/header.html::fragment-header"></div>

</head>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<div class="section">
    <h1>설문 목록</h1>
    <table>
        <tr>
            <th>#</th>
            <th>설문 ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>답변 수</th>
            <th>설문 대상</th>
            <th>배포날짜</th>
        </tr>
        <tr th:each="survey , index: ${surveys}">
            <td th:text="${index.index + 1}">#</td>
            <td th:text="${survey.surveyId}">설문 ID</td>
            <td><a th:href="@{/daangn/admin/surveys/{surveyId}(surveyId=${survey.surveyId})}" th:text="${survey.title}">설문 제목</a></td>
            <td th:text="${survey.writer}">작성자</td>
            <td><a th:href="@{/daangn/admin/responses/surveys/{surveyId}(surveyId=${survey.surveyId})}" th:text="${survey.responseCount}">답변 수</a></td>
            <td th:text="${survey.target}">설문 대상</td>
            <td th:text="${survey.publishedAt}">배포날짜</td>
        </tr>
    </table>
</div>
</body>
</html>