<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="./fragments/header.html::fragment-header"></div>

</head>
<body>
<div th:replace="./fragments/nav.html :: fragment-nav"></div>
<a href="/daangn/admin?filter=answered">설문 필터링</a>
<div class="section">
    <h1>설문 목록</h1>
    <table>
        <tr>
            <th>#</th>
            <th>설문 ID</th>
            <th>제목</th>
            <th>답변 수</th>
            <th>작성자</th>
            <th>설문 대상</th>
            <th>날짜</th>
<!--            <th>배포하기</th>-->
        </tr>
        <tr th:each="survey , index: ${surveys}">
            <td th:text="${index.index + 1}">#</td>
            <td><a th:href="@{/daangn/admin/surveys/{surveyId}/user-log(surveyId=${survey.id})}" th:text="${survey.id}">설문 ID</a></td>
            <td><a th:href="@{/daangn/admin/surveys/{surveyId}(surveyId=${survey.id})}" th:text="${survey.title}">설문 제목</a></td>
            <td><a th:href="@{/daangn/admin/responses/surveys/{surveyId}(surveyId=${survey.id})}" th:text="${survey.responseCount}">답변 수</a></td>
            <td th:text="${survey.writer}">작성자</a></td>
            <td>
                <th:block th:switch="${survey.target}">
                <span th:case="1">모든 이웃</span>
                <span th:case="2">비즈프로필 방문 이웃</span>
                <span th:case="3">단골</span>
                </th:block>
            </td>
            <td th:text="${#temporals.format(survey.createdAt, 'yyyy-MM-dd   HH:mm')}">날짜</td>
<!--            <td><button type="button" class="btn btn-secondary btn-sm" th:data-surveyId="${survey.id}" onclick="patchSurveyToPublished(this.getAttribute('data-surveyId'))">배포</button></td>-->
        </tr>
    </table>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    var surveys = /*[[ ${surveys} ]]*/;

    /*]]*/

    function patchSurveyToPublished(surveyId) {
        fetch(location.origin + '/daangn/admin/surveys/' + surveyId + "/publish", {
            method: 'PATCH',
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if(response.status == 200) alert("설문 배포 정보를 업데이트합니다");
            else alert("배포 정보 업데이트에 실패했습니다.");
        })
    }
</script>
</html>