<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">관리자 페이지</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/daangn/admin}">설문 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/daangn/admin/biz-profiles}">사장님 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/daangn/admin/responses}">답변 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/index2}">설정</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>