table {
    width: 100%; border: 1px solid #444444; text-align: center;
}
th, td {
    border: 1px solid #444444;
    text-align: left;
    padding-left: 10px
}

.navbar {
    padding: 0 10px;
}

.section {
    padding: 0 10px;
}
.nav-link-text{
    color: #141414 !important;
}



